<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 마이바티스 홈페이지에서 시작하기  dtd 복사해오기 -->

<mapper namespace="com.itwillbs.mapper.BoardMapper">
  
  <!-- 글쓰기 -->
  <insert id="create">
  	insert into tbl_board (title,content,writer) 
  	values (#{title},#{content},#{writer})
  </insert>
</mapper>